@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.font {
  font-family: Karasuma Gothic;
}

.font2 {
  font-family: RL Madena;
}

.box{
  /* background-image: url(../public/pexels.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease;
}


.box1{
  /* background-image: url(../public/two.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: ease;
}


.box2{
  /* background-image: url(../public/three.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: ease;

}


.box3{
  /* background-image: url(../public/four.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: ease;
}


.inner{
  background-color: rgba(255, 255, 255, 0.092);
  backdrop-filter:blur(4px);
}

.inner:hover {
  backdrop-filter:blur(15px);
  /* background-image: url('../public//threeone.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.1);
}


.backimage{
  /* background-image: url('../public//threeone.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


.first-S{
  background-color: rgba(0, 128, 0, 0.236);
}

.s-box{
  background-color: #c1c1c161;
  box-shadow: 20px 20px 2px #00000072;
  border-radius: 10px;
  transition: 0.90s ease;
  backdrop-filter: blur(2px);
}

.s-box1:hover{
  background-color: #c1c1c125;
  box-shadow: -20px -20px 2px #00000072;
  border-radius: 10px;
  /* background-image: url("../public/four.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
}


.s-box2:hover{
  background-color: #c1c1c125;
  box-shadow: -20px -20px 2px #00000072;
  border-radius: 10px;
  /* background-image: url("../public/three.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
}

.s-box3:hover{
  background-color: #c1c1c125;
  box-shadow: -20px -20px 2px #00000072;
  border-radius: 10px;
  /* background-image: url("../public/two.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.s-box:hover .inner1{
  opacity: 0;
}


.container-main{
  /* background-image: url('../public/pexels1.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* 
.servicenav{
  background-image: url('../public/pexels.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
} */

.logout{
  /* background-image: url('../public/pexels.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  
}

.username{
  /* background-image: url('../public/pexels1.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.client-sec{
  /* background-image: url('../public/clientback.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.client-h{
  position:relative;
  background-color: yellow;
  height: 3px;
  width: 50px;

  display: inline-block;

}


.client-h2{
  position:relative;
  background-color: yellow;
  height: 8px;
  width: 80px;
  display: inline-block;

}


.card{
  background: rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(2px);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.256) 0%, rgba(224, 184, 184, 0.245) 0%, rgba(187, 49, 175, 0.223) 46%, rgba(188, 52, 177, 0.158) 100%, rgba(223, 224, 226, 0.19) 100%);
}


.services{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(223,224,226,1) 100%);
}

.title{
  color: #e0b8b8;
}

.txt{
  color:white;
}


.btn{
  outline: none;
  cursor: pointer;
  border: none;
  padding: 5px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;

 }

 
 .btn::before,
  .btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .btn::before {
  content: "";
  background:blue;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .btn:hover::before {
  transform: translate3d(100%, 0, 0);
 }
  

 .gupter-regular {
  font-family: "Gupter", serif;
  font-weight: 400;
  font-style: normal;
}


.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.card1{
  background-color: #4158A6;
}


.appoint-btn{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

 

.firstline{
  transform: scale(0);
}

.home-card{
  opacity: 0;
}